
<div class="col-md-4">
    <section>
        <form id="account" method="post">

            <div class="form-floating">
                <input name="nome" class="form-control" />
                <label class="form-label">Nome</label>
            </div>


            <div class="form-floating">
                <input name="senha" class="form-control" />
                <label class="form-label">Senha</label>
            </div>

            <br />

            <div>
                <button type="submit" name="botao" value="1" class="text-white-50 btn btn-lg btn-primary">Log in</button>
            </div>

        </form>
    </section>

    <content class="container-fluid container-md">

        <p>

            @if (ViewBag.Erro != null)
            {
                <div class="text-danger">@ViewBag.Erro</div>
            }


        </p>
    </content>
</div>
